* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: rgb(4, 0, 255);
    border-bottom: darkblue 5px solid;
}

.title-header,
.text-footer {
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.text-footer {
    font-size: 1rem;
    font-weight: initial;
}

main {
    margin: auto;
    display: grid;
    justify-content: center;
    width: min(800px, 80%);
    margin-top: 30px;
    margin-bottom: 30px;
}

ul {
    list-style: none;
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: rgb(0, 0, 0);
    border-top: darkblue 5px solid;

}

.card {
    height: 150px;
    background: lightblue;
    border-radius: 10px;
    margin-top: 25px;
    padding: 15px;
    text-align: center;
}

.cardalterado {
    height: 150px;
    background: rgb(25, 0, 255);
    border-radius: 10px;
    margin-top: 25px;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border:rgb(0, 0, 0) 5px solid;
}

h4 {
    text-align: center;
    margin-bottom: 10px;
}

.explicacao {
    width: min(800px, 80%);
    margin: auto;
    background: cornflowerblue;
    border-radius: 10px;
    padding: 15px;
    text-align: justify;
    margin-bottom: 30px;
    word-wrap: break-word;
}

.destaque {
    background: darkblue;
    border: rgb(0, 0, 0) 3px solid;
}

button {
    padding: 2px;
    background: blue;
    color: white;
    font-size: 0.9rem;
    border-radius: 3px;
   
}

button:hover {
    color: teal;
    transition: 0.3s;
    background: rgb(0, 0, 82);
}

.button-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

a {
    cursor: pointer;
    font-weight: 900;
    text-align: center;
    color: darkblue;
    margin-left: 15px;
}

.botao-link {
    background: rgb(45, 183, 238);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.botao-link:hover {
    background: rgb(55, 0, 255);
    color: white;
    transition: 0.5s;

}

.download,.botao-modelos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

i {
 color: blue;
}

.modify {
    color: rgb(255, 255, 255);
    font-weight: 900;
}

label {
    font-weight: bold;
}

tr {
    text-align: center;
}

td {
    padding: 5px;
}


input, select {
    width: 100%;
}

.botao-enviar {
    text-align: center;
    padding-top: 20px;
}

@media (max-width: 710px) {
    main {
        justify-content: space-around;
    }

    button {
        margin-bottom: 25px;
    }
}